.tags {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag {
    background-color: white;
    min-width: 100px;
    min-height: 50px;
    border: 1px solid rgb(187, 187, 187);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

img {
    max-width: 350px;
}