.progress-table .table-head .user,
.progress-table .table-head .name,
.progress-table .table-head .description,
.progress-table .table-head .location {
    color: #222222;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 500;
}

.progress-table .user {
    width: 8%;
    padding-left: 30px;
}

.progress-table .name {
    width: 15%;
}

.progress-table .description {
    width: 25%;
}

.progress-table .location {
    width: 20%;
    padding-right: 50px;
}

.progress-table .btn1 {
    width: 10%;
}

.progress-table .table-row div {
    display: flex;
    align-items: center;
}

.table-width {
    width: 80%;
}